<header class="header">
	<div class="container">
		<div class="row navigation">
			<div class="col-xl-3 logo">
				<img src="../img/logo.png" alt="logo">
			</div>
			<div class="row col-xl-7 align-self-center">
				<ul class="row menu col-xl-7 justify-content-around">
					<li class="menu__item">
						<a href="#">about us</a>
					</li>
					<li class="menu__item">
						<a href="#">projects</a>
					</li>
					<li class="menu__item">
						<a href="#">news</a>
					</li>
					<li class="menu__item">
						<a href="#">contact</a>
					</li>
				</ul>
			</div>
			<div class="row col-xl-2 align-self-center social">
				<ul class="row justify-content-between">
					<li class="social__icon">
						<i class="fab fa-facebook-f"></i></li>
					<li class="social__icon">
						<i class="fab fa-twitter"></i></li>
					<li class="social__icon">
						<i class="fab fa-instagram"></i></li>
				</ul>
			</div>
		</div>
		<div class="header-info">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 align-self-around">
						<h1 class="header-info__title">simple & mordern</h1>
						<p class="header-info__text">we make the world's beatiful every day</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>