<section class="commerce-center">
	<div class="container-fluid">
		<div class="row">
			<div class="offset-6 col-6  justify-content-end">
				<div class="commerce-center__purple"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row mb-100">
			<div class="col-md-6 col-sm-12 mb-sm-3">
				<div class="row flex-column">
					<div class="col-12 mb-xl-5 mb-lg-3 mb-md-2">
						<h3 class="commerce-center__subtitle">international</h3>
						<h2 class="commerce-center__title">commerce center</h2>
					</div>
					<div class="col-12 mb-xl-5  mb-lg-3 mb-md-2">
						<p class="commerce-center__text">Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.</p>
					</div>
					<div class="col-lg-5  mb-xl-5  mb-lg-3 mb-md-2">
						<button class="commerce-center__btn">more details</button>
					</div>
					<div class="col-lg-5">
						<span class="commerce-center__location"><i class="fas fa-map-marker-alt"></i> Hong Kong - 1588 Feet</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="commerce-center__wrapper">
					<img src="../img/wwd-item2.jpg" alt="commerce center" class="commerce-center__image">
				</div>
				
			</div>
		</div>
		
	</div>
</section>