<!DOCTYPE html>
<html lang="en">
<head>

	<title>Olga-gallery</title>

	<!-- STANDARD -->
	<link rel="stylesheet" href="css/style.scss">
</head>

<body>

	<!-- SECTION 4 -->
	<div class="section-gallery__olga">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="title-h3">
						<h3 class="title-h3">
							callery
						</h3>
					</div>
				</div>

			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="wrapper1">
						<img class="portfolio__img" src="img/gallery-item1.jpg" alt="item1" >
						<img class="c-img" src="img/360.png" alt="item" >
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="container">
						<div class="row">

							<div class="col-6">
								<div class="wrapper">
									<img class="portfolio__img" src="img/gallery-item2.jpg" alt="item1" >
								</div>
							</div>
							<div class="col-6">
								<div class="wrapper">
									<img class="portfolio__img" src="img/gallery-item3.jpg" alt="item1" >
								</div>
							</div>

							<div class="w-100"></div>
							<div class="col-6">
								<div class="wrapper">
									<img class="portfolio__img" src="img/gallery-item4.jpg" alt="item1" >
								</div>
							</div>
							<div class="col-6">
								<div class="wrapper">
									<img class="portfolio__img" src="img/gallery-item5.jpg" alt="item1" >
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="title-h4">
						<a href="#" class="gradient-btn">see more</a>
					</div>
				</div>

			</div>
		</div>
	</div>

</body>
</html>
